@import url('https://fonts.googleapis.com/css?family=Outfit:regular,700');

:root{
  --font-outfit: 'Outfit', sans-serif;
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

*{ margin: 0; padding: 0; font-size: 15px; }

body{
  align-items: center;
  background-color: var(--color-light-gray);
  display: flex;
  flex-flow: column;
  font-family: var(--font-outfit);
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.card{
  background-color: var(--color-white);
  border-radius: 1.5rem;
  box-shadow: 0px 15px 35px RGBA(0,0,0,.05);
  display: flex;
  flex-flow: column;
  max-width: 375px;
  padding: 1rem;
  text-align: center;
}

.qr-code{
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card-title{
  color: var(--color-dark-blue);
  font-size: 2rem;
  font-weight: 700;
}

.card-description{
  color: var(--color-grayish-blue);
  font-size: 1.2rem;
  padding: 1.2rem 2rem 2rem 2rem;
}

.attribution{
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}